---
import Button from "../components/Card.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div>
			<Button
			variant="primary"
			img="../src/assets/images/test.jpg"
			text1="Micro Backpack"
			text2="Are you a minimalist looking for a compact carry option? The Micro Backpackis the perfect size for your everyday essential carry items."
			status="Delivered"
			price="$90.00"
			view="View Order">
			</Button>
		</div>
	</body>
</html>
